/* Contenedor Articulo*/

.article-content{
    background-color: rgba(47, 156, 139 , 0);
    width: 100%;
    height: 100%
}

/*Edit Grapelli class*/
#grp-content{
    padding: 0px;
}
body.grp-login #grp-content {
    top: 0px;
}

.pos-a {
    position: absolute!important;
}

.bgc-white, .bgcH-white:hover {
    background-color: rgba(255,255,255,0.4) !important;
}

.centerXY {
    top: 50%;
    left: 33%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.bdrs-50p {
    border-radius: 50%!important;
}
/* Container Login */
.login-1{
    float:left;
    background-color: #fff;
    width: 35%;
    height: 640px;
}

.container-log{
    padding: 40px;
    padding-top: 100px;
}

.form-cont{
    width: 100% !important;
    padding: 10px;
}

.titulo-log{
    background-image: url(http://www.buho.media/static/img/main/header-logo.svg);
    width: 180px;
    height: 95px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    margin: auto;
}

.form-row{
    padding-top: 20px;
}

.form-row input{
    height: 37px !important;
    line-height: 1.5;
    margin-top: 8px;
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
}

.form-row label{
    font-size: 14px;
    padding-bottom: 10px;
}

.btn-success{
    background-color: #0c7cd5 !important;
    width: 100px;
    padding: 10px;
    height: 40px;
}


@media(max-width: 700px){
    .login-1{
        width: 100%;
    }
    .articles{
        display: none;
    }

    .bgc-white{
        display: none;
    }
}

